h1{
   color: yellow; 
}

#test{
    color:teal;
    font-size 16px;
    font-weight: bold;
    font-style: italic;
    text-decoration:line-through;
}
#test1{
    color: blueviolet;
    font-size: 20px;
    font-weight:bolder;
    font-style: normal;
    text-decoration: underline;
}

.news
{
    color: palegreen;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    text-decoration: dotted;

}
.news1
{
    color: chocolate;
    font-size: 16px;
    font-style: normal;
    text-decoration: dotted;
}

h4{
    color:palevioletred ;
    font-size: 18px;
}
*{
    font-family: cursive;
}

.username
{
   width: 100px;
   height: 25px;
   border: 1px solid transparent;
   color: teal;
   font-size: 14px;
   font-weight: bold;
   font-style: italic;
   border-radius: 10px;
   outline: none;
   caret-color: orange;
   background-color: beige;
   padding: 10px;
   transition: background-color 300s;
}

.username::placeholder{
    color: palevioletred;
    font-style: normal;
}
.username:hover{
    background-color: teal;
    color: burlywood;
}
.username{
    border-color: yellow;
}
.section1{
    width: 100%;
    height: 800px;
    background-image: url(../image/Photo\ .jpg);
    background-repeat:no-repeat ;
    background-size:100% 100%;
}

.container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 20px;
    flex-direction: column-reverse;
}

.card{
    width: 400px;
    height: 400px;
    background-color:#f1f1f1;
    box-shadow:0px 0px 4px 4px lightpink;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.login
{
    width: 100%;
    min-height:100vh ;
    background-image: url(https://tse2.mm.bing.net/th/id/OIP.8Xdx0h73TTYvbQNfSe5wUgHaEK?pid=Api&P=0&h=180);
    background-size: contain;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;
}

.loginform
{
    width: 30%;
    height: 42vh;
    background-color:lightpink;
    border-radius:10px;
    text-align: center;
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

}

.UserId
{
    width:320px ;
    height:30px;
    border: 1px solid #cdcdcd;
    outline: none;
    font-size: 14px;
    padding:8px;
    border-radius:10px;

}
.loginbtn
{
    background-color: #13a4cc;
    color:white;
    font-size: 14px;
    border:1px solid #efefef;
    border-radius: 10px;
    height: 35px;
    width: 336px;
    padding:8px;
    cursor: pointer;
}

.loginTxt
{
    color:white;
}

@media screen and (max-width:700px) {
    .card{
        background-color: #ba6868;
        
    }
    
}
